input[type="file"] {
    display: none;
}

/* Downward triangle CSS to show where the spinner stopped */
.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 35px solid #f2f2f2;
    margin-bottom: -25px;
    top: -37px;
    left: -25px;
    float: center;
    position: relative;
}

.triangle-border {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid #000;
    margin-bottom: -25px;
    float: center;
    left: -15px;
    position:relative;
}

.dark-mode {
    color: #fdfdfd;
    background-color: #101010;
}
